* {
  background: whites;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*:before, *:after {
  box-sizing: border-box;
}

.grid-container {
  /* background: black; */
  /* background-image: linear-gradient(rgba(0,0,0, 0.2), rgba(0,0, 0, 0.2)),
                    url("1.png"); */
  background: radial-gradient(circle at 50% 0,
    rgba(255,0,0,.6),
    rgba(255,0,0,0) 70.71%),
  radial-gradient(circle at 6.7% 75%,
    rgba(0,0,255,.6),
    rgba(0,0,255,0) 70.71%),
  radial-gradient(circle at 93.3% 75%,
    rgba(0,255,0,.6),
    rgba(0,255,0,0) 70.71%) white;
  background-size: 100%;
  display: grid;
  grid-template-columns: 1fr 0.6fr 4fr 0.6fr 2fr 6fr 1fr 2.5fr 4fr 0.6fr 2fr 3fr 1fr 2fr 5fr 1fr 2fr 3fr 0.8fr 2fr 7fr 1fr 2fr 4fr 1fr;
  grid-template-rows: 1fr 4fr 3fr 0.6fr 2fr 3fr 1fr 2fr 5fr 0.6fr 2fr 3.5fr 1fr 2fr 3fr 1fr 2fr 0.6fr 2.5fr 0.6fr 3fr 0.6fr 2fr 0.6fr 1fr 2fr 3fr 0.6fr 2fr 3fr;
  grid-gap: 1px;
	justify-self: center;
  padding: none;
  margin: none;
  height: 100vh;
}
.grid-item {
  font-size: 3vh;
  background:
      radial-gradient(circle at 50% 0,
        rgba(255,0,0,.6),
        rgba(255,0,0,0) 70.71%),
      radial-gradient(circle at 6.7% 75%,
        rgba(0,0,255,.6),
        rgba(0,0,255,0) 70.71%),
      radial-gradient(circle at 93.3% 75%,
        rgba(0,255,0,.6),
        rgba(0,255,0,0) 70.71%) white;
  /* border-radius: 50%; */
  padding: none;
  text-align: center;
  /* position:absolute; */
  opacity:0;
  transition:0s 90s;
  /* height: 100vh; */
}
.grid-item:hover {
  background:
      radial-gradient(circle at 50% 0,
        rgba(255,0,0,.6),
        rgba(255,0,0,0) 70.71%),
      radial-gradient(circle at 6.7% 75%,
        rgba(0,0,255,.6),
        rgba(0,0,255,0) 70.71%),
      radial-gradient(circle at 93.3% 75%,
        rgba(0,255,0,.6),
        rgba(0,255,0,0) 70.71%) white;
  /* border-radius: 50%; */
  opacity:1;
  transition:0s;
}
